.grid {
  width: 95vmin;
  height: 95vmin;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background: black;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 5vmin;
  box-shadow: inset 0 0 5vmin white;
}
.sp-vertical {
  background-color: black;
  width: 5vmin;
  height: 100%;
  grid-column: 1 / 6;
  grid-row: 1 / 6;
  justify-self: center;
  z-index: 1;
  box-shadow: inset 0 0 3vmin white;
}
.sp-horizontal {
  background-color: black;
  width: 100%;
  height: 5vmin;
  grid-column: 1 / 6;
  grid-row: 1 / 6;
  align-self: center;
  z-index: 1;
  box-shadow: inset 0 0 3vmin white;
}

/* buttons */

.green {
  background-color: green;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  border-top-left-radius: 100%;
  box-shadow: inset -3vmin -3vmin 5vmin 3vmin greenyellow,
    inset 3vmin 3vmin 5vmin greenyellow;
  /* background-image: radial-gradient(40vmin at bottom right, greenyellow, green) */
}

.red {
  background-color: red;
  grid-column: 3 / 5;
  grid-row: 1 / 3;
  border-top-right-radius: 100%;
  box-shadow: inset 3vmin -3vmin 5vmin 3vmin orange,
    inset -3vmin 3vmin 5vmin orange;
}

.yellow {
  background-color: goldenrod;
  grid-column: 1 / 3;
  grid-row: 3 / 5;
  border-bottom-left-radius: 100%;
  box-shadow: inset -3vmin 3vmin 5vmin 3vmin yellow,
    inset 3vmin -3vmin 5vmin yellow;
}
.blue {
  background-color: blue;
  grid-column: 3 / 5;
  grid-row: 3 / 5;
  border-bottom-right-radius: 100%;
  box-shadow: inset 3vmin 3vmin 5vmin 3vmin skyblue,
    inset -3vmin -3vmin 5vmin skyblue;
}

.green:active {
  background-color: lime;
  transform: scale(0.99);
}
.red:active {
  background-color: orange;
  transform: scale(0.99);
}
.yellow:active {
  background-color: yellow;
  transform: scale(0.99);
}
.blue:active {
  background-color: skyblue;
  transform: scale(0.99);
}


.control {
  background: black;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  border-radius: 50%;
  /* border: 1vmin groove white; */
  color: white;
  z-index: 2;
  box-shadow: inset 0 0 5vmin white;
  /* background: radial-gradient( gray, black); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding:  10% 5% 20%
}
.title{
  margin: 0;
  text-align: center;
  font-size: 5vmin;
  letter-spacing: .2em;
}
*::selection{
  background-color: transparent;
}
.monitor{
  width: 70%;
  height: 30%;
  background-color: black;
  /* border: gray inset 1vmin; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 5vmin white;
  border-radius: 4vmin
}
.monitor span{
  font-size: 3vmin;
}
.btn-wrap{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.btn{
  width: 5vmin;
  height: 5vmin;
  border-radius: 50%;
  background-color: green;
  box-shadow: inset 0 0 1vmin yellow;
  /* border: orange 1vmin outset; */
  box-sizing: border-box;
  font-size: 2.5vmin;
  text-align: center;
  cursor: pointer;
}

.btn:active{
  background-color: green;
  transform: scale(0.9)
}